header {
    width: 100%;
    height: 100px;
    background-color: #292929;
    border-bottom: 1px solid turquoise;
    color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

a,h1 {
    margin: 0 1rem;
}

a {
    color: turquoise;
}